/* Configuração padrão da página
		-------------------------------*/
body, html {
	background: #f4f2ec;
	font: 15px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	margin: 0;
	color: #000000;
	height: 100%;
}

.conteudo {
	color: #1C1C1C;
	background-color: #f4f2ec;
	text-align: justify;
	padding: 50px 80px;
}

h3 {
	text-transform: uppercase;
	color: #111;
	text-align: center;
}
p{
	margin-bottom: 20px;
}

/* Efeito Parallax
		-------------------------------*/
.parallax-principal1, .parallax-principal2, .parallax-atelie1, .parallax-atelie2 , .parallax-oficina1, .parallax-oficina2, .parallax-cine1, .parallax-cine2, .parallax-contato1{
	position: relative;
	height: 60%;
	opacity: 0.85;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;  
}

/*-----------  Pagina artista --------------*/

.parallax-principal1 {
	background-image: url(../imagens/oficina1.png);
}
.parallax-principal2 {
	background-image: url(../imagens/oficina15.png);
}

/*-----------  Pagina atelie --------------*/
.parallax-atelie1 {
	background-image: url(../imagens/bonecos2.png);
}
.parallax-atelie2 {
	background-image: url(../imagens/jacalaxia.jpg);
}

/*-----------  Pagina oficinas --------------*/

.parallax-oficina1 {
	background-image: url(../imagens/oficina1.png);
}
.parallax-oficina2 {
	background-image: url(../imagens/oficina2.png);
}

/*-----------  Pagina cinejacare --------------*/
.parallax-cine1 {
	background-image: url(../imagens/cinejacare1.png);
}
.parallax-cine2 {
	background-image: url(../imagens/cinejacare2.png);
}

/*-----------  Pagina contato --------------*/
.parallax-contato1 {
	background-image: url(../imagens/parallax2.png);
}


.conteudo-titulo {
	position: absolute;
	left: 0;
	top: 45%;
	width: 100%;
	text-align: center;
}


#artista .artista a,
#oficina .atelie a,
#atelie .oficinas a,
#contato .contato a,
#cinejacare .cinejacare a {
	color: 	#66E504;
}


